label { display: block; }
.hidden { display: none; }

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#main, #before {
	position: absolute;
	left: 0em;
	top: 0em;
	height: 100vh;
	width: 100vw;
}

#before { padding: 2em; box-sizing: border-box; }
#before:not(.hidden) + #main { display: none; }

#main {
	display: grid;
	grid-template-columns: auto auto 1fr;
	grid-template-rows: 1fr;
}

#sidebar {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	display: flex;
	flex-direction: column;
	margin-right: 1em;
	padding: 1em;
	font-family: sans-serif;
	overflow: auto;
	position: relative;
	width: 20em;
}
#sidebar h1 { margin: 0; }
.spacer { flex-grow: 1; }
#sidebar.collapsed { width: 1.5em; padding: 0; margin: 0; }
#sidebar.collapsed > :not(button) { display: none };

#toggle-sidebar {
	position: absolute;
	right: 1em;
	top: 1em;
	height: 2em;
	width: 2em;
}
#toggle-sidebar::before { content: '<< Collapse sidebar'; }
#sidebar.collapsed #toggle-sidebar::before { content: '>'; }

#title:empty { display: none; }

#before {
	font-family: sans-serif;
	z-index: 1000;
}
#before label span {
	width: 10em;
	display: inline-block;
}
#before label input[type=checkbox] {
	margin-right: 1em;
}
#before label input[type=checkbox] + span {
	display: inline;
	width: auto;
}

#table-container {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	overflow-x: auto;
	max-width: 100%;
	min-width: 10rem;
	flex-shrink: 0;
	padding: 1em;
}

table {
	border-collapse: collapse;
}
#grid td {
	border: 1px solid black;
	width: 2rem;
	min-width: 2rem;
	height: 2rem;
	font-family: sans-serif;
	font-size: 1.5rem;
	text-align: center;
	background-repeat: no-repeat;
}

#grid td.block {
	background: #444;
	background-image: none !important;
}

body:not(.hide-mirror) #grid td.mirror {
	box-shadow: 0 0 0 2px inset orange;
}

#grid td.cursor {
	box-shadow: 0 0 0 2px inset blue !important;
}

#grid:focus {
	outline: none;
}

#grid td.checker {
	background: #fdd;
}
#grid td.checker.block {
	background: #800;
	background-image: none !important;
}
#grid td.top { border-top: 2px solid black; }
#grid td.bottom { border-bottom: 2px solid black; }
#grid td.left { border-left: 2px solid black; }
#grid td.right { border-right: 2px solid black; }

#clues {
	display: flex;
	vertical-align: top;
	font-family: sans-serif;
	flex-direction: column;
	grid-column: 3 / span 1;
	grid-row: 1 / span 2;
	height: calc(100vh - 2em);
	flex-wrap: wrap;
	margin: 0;
	padding: 0 0 0 4rem;
	align-content: stretch;
	align-items: stretch;
	overflow: auto;
	height: 100vh;
	min-width: 10em;
	box-sizing: border-box;
}

#clues li {
	width: 12rem;
	padding: 0 3em 0 0;
}
#clues {
	padding: 1em 1em 1em 3em;
}
#clues, #clues input {
	font-family: Consolas, 'Droid Mono', Monaco, 'Roboto Mono', monospace;
	text-transform: uppercase;
	font-size: 1.5rem;
}
#clues input { width: 100%; }
#clues input:invalid {
	border: 1px solid red;
}
#clues input:disabled {
	background: white;
	color: black;
}
#clues input:not(:invalid) {
	border: 1px solid transparent;
}
#clues .clue-text.current {
	font-weight: bold;
	background: #FFD;
}
#clues .clue-text.correct {
	text-decoration: line-through;
	opacity: 0.4;
}
#clues .clue-text.wrong {
	color: red;
	font-weight: bold;
}

#permalink { display: none; }
#permalink[href^="#"] { display: block; }

#keyboard { display: none; }
#grid-table:not(:focus) td { box-shadow: none !important; }
/* Mobile view below */
body.mobile {
	overflow: auto;
}
body.mobile #main {
	display: flex;
	flex-direction: column;
	width: 100vw;
}
body.mobile #grid-table td.cursor { box-shadow: 0 0 0 2px inset blue !important; }
body.mobile #grid-table td.mirror { box-shadow: 0 0 0 2px inset orange !important; }
body.mobile #sidebar {
	overflow: unset;
	width: calc(100vw - 2em);
	margin-bottom: 2em;
}
body.mobile #toggle-sidebar {
	display: none;
}
body.mobile #table-container {
	padding: 0 1em;
	text-align: center;
}
body.mobile #clues {
	padding: 1em 1em 20em 2.5em;
	height: auto;
	overflow: visible;
}
body.mobile #keyboard {
	position: fixed;
	display: flex;
	z-index: 1000;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background: #ddd;
	align-content: stretch;
	padding: 0.25rem;
	flex-wrap: wrap;
}
body.mobile #keyboard button {
	border: none;
	border-bottom: 4px solid #bbb;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	height: 3rem;
	flex-grow: 1;
	margin: 0.25rem 0.25rem;
	min-width: 3rem;
	background: #eee;
}

/* rotate the board! */
#table-container { perspective: 100vmax; }
#grid-table.rotating { animation: rotate 1.5s; }
@keyframes rotate {
	from { transform: rotateY(0); }
	to   { transform: rotateY(360deg); }
}

.extra-rules .two-letters,
.extra-rules .island {
	background: #f88 !important;
	color: white;
}
