@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

label { display: block; }
.hidden { display: none; }

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#main, #before {
	position: absolute;
	left: 0em;
	top: 0em;
	height: 100vh;
	width: 100vw;
}

#before { padding: 2em; box-sizing: border-box; }
#before:not(.hidden) + #main { display: none; }

#main {
	display: grid;
	grid-template-columns: auto auto 1fr;
	grid-template-rows: 1fr;
}

#sidebar {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	display: flex;
	flex-direction: column;
	margin-right: 1em;
	font-family: Lato;
	position: relative;
	width: 20em;
	height: 100vh;
	background: #eee;
}
#sidebar h1 { margin: 0; }
#sidebar.collapsed { width: 1em; padding: 0; margin: 0; }
#sidebar.collapsed > :not(button) { display: none }

.tab {
	flex-shrink: 1;
	overflow: hidden;
	min-height: 3em;
	max-height: 3em;
	flex-grow: 1;
	transition: max-height 300ms;
}
.tab .toggle {
	padding: 1em;
	height: 1em;
	line-height: 1em;
	position: sticky;
	top: 0;
	background: #888;
	color: white;
	cursor: pointer;
}
.tab:not(.expanded) + .tab .toggle {
	border-top: 1px solid #444;
}
.tab .toggle:before {
	transition: transform 300ms;
	content: '▶';
	margin-right: 0.5em;
	display: inline-block;
}
.expanded.tab .toggle:before {
	transform: rotate(-30deg) translate(0.1em, -0.1rem);
}
.tab .contents {
	padding: 0 1em;
	transition: all 300ms;
	height: auto;
	overflow: hidden;
}
.tab.expanded {
	overflow: auto;
	max-height: 100vh;
}
.tab.expanded .contents {
	padding: 1em;
}
.bottom-panel {
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.options.tab p {
	color: #666;
	font-size: 0.8em;
	margin-top: 0.5em;
}

#sidebar.collapsed #toggle-sidebar {
	transform-origin: 0 0;
	position: absolute;
	top: 100vh;
	left: 0;
	transform: rotate(-90deg);
	width: 100vh;
}
#toggle-sidebar::before { content: '<< Collapse sidebar'; }
#sidebar.collapsed #toggle-sidebar::before { content: 'Expand sidebar'; }

#title label, #author label { font-size: 0; }
#title:empty, #blurb:empty { display: none; }
#blurb {
	font-style: italic;
	font-family: 
	white-space: pre-wrap;}
#blurb-input {
	font-family: 'DM Mono', monospace;
	width: 100%;
	height: 10em;
}

#before {
	font-family: Lato;
	z-index: 1000;
}
#before label span {
	width: 10em;
	display: inline-block;
}
#before label input[type=checkbox] {
	margin-right: 1em;
}
#before label input[type=checkbox] + span {
	display: inline;
	width: auto;
}

#table-container {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	overflow-x: auto;
	max-width: 100%;
	min-width: 10rem;
	flex-shrink: 0;
	padding: 1em;
}

table {
	border-collapse: collapse;
}
#grid td {
	border: 1px solid black;
	width: 2rem;
	min-width: 2rem;
	height: 2rem;
	font-family: Lato;
	font-size: 1.5rem;
	text-align: center;
	background-repeat: no-repeat;
}

#grid td.block {
	background: #444;
	background-image: none !important;
}

body:not(.hide-mirror) #grid td.mirror { box-shadow: 0 0 0 2px inset #ff880088; }
#grid td.cursor { box-shadow: 0 0 0 2px inset #08f !important; }

#grid:focus {
	outline: none;
}

#grid td.checker {
	background: #fdd;
}
#grid td.checker.block {
	background: #522;
	background-image: none !important;
}
#grid td.top { border-top: 2px solid black; }
#grid td.bottom { border-bottom: 2px solid black; }
#grid td.left { border-left: 2px solid black; }
#grid td.right { border-right: 2px solid black; }

#clues {
	display: flex;
	vertical-align: top;
	font-family: Lato;
	flex-direction: column;
	grid-column: 3 / span 1;
	grid-row: 1 / span 2;
	height: calc(100vh - 2em);
	flex-wrap: wrap;
	margin: 0;
	padding: 0 0 0 4rem;
	align-content: stretch;
	align-items: stretch;
	overflow: auto;
	height: 100vh;
	min-width: 10em;
	box-sizing: border-box;
}

#clues li {
	width: 12rem;
	padding: 0 3em 0 0;
}
#clues {
	padding: 1em 1em 1em 3em;
}
#clues, #clues input {
	font-family: 'DM Mono', monospace;
	text-transform: uppercase;
	font-size: 1.5rem;
}
#clues input { width: 100%; }
#clues input:invalid {
	border: 1px solid red;
}
#clues input:disabled {
	background: white;
	color: black;
}
#clues input:not(:invalid) {
	border: 1px solid transparent;
}
#clues .clue-text.current {
	font-weight: bold;
	background: #FFD;
}
#clues .clue-text.correct {
	text-decoration: line-through;
	opacity: 0.4;
}
#clues .clue-text.wrong {
	color: red;
	font-weight: bold;
}

#permalink { display: none; }
#permalink[href^="#"] { display: block; }

#keyboard { display: none; }
#grid-table:not(:focus) td { box-shadow: none !important; }

/* Mobile view */
body.mobile {
	overflow: auto;
}
body.mobile .expanded.tab {
	max-height: unset !important;
	overflow: visible;
}
body.mobile #main {
	display: flex;
	flex-direction: column;
	width: 100vw;
	overflow-x: hidden;
}
body.mobile #grid-table td.mirror { box-shadow: 0 0 0 2px inset #ff880088 !important; }
body.mobile #grid-table td.cursor { box-shadow: 0 0 0 2px inset #08f !important; }
body.mobile #sidebar {
	overflow: unset;
	width: 100%;
	height: unset;
	margin-bottom: 2em;
	margin: 0 0 1em 0;
}
body.mobile #toggle-sidebar {
	display: none;
}
body.mobile #table-container {
	padding: 1em;
	text-align: center;
}
body.mobile #clues {
	padding: 1em 1em 20em 2.5em;
	height: auto;
	overflow: visible;
}
body.fast-mode #keyboard { display: none !important; }
body.mobile #keyboard {
	position: fixed;
	display: flex;
	z-index: 1000;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background: #ddd;
	align-content: stretch;
	padding: 0.25rem;
	flex-wrap: wrap;
}
body.mobile #keyboard button {
	border: none;
	border-bottom: 4px solid #bbb;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	height: 3rem;
	flex-grow: 1;
	margin: 0.25rem 0.25rem;
	min-width: 3rem;
	background: #eee;
}

/* rotate the board! */
#table-container { perspective: 100vmax; }
#grid-table.rotating { animation: rotate 1.5s; }
@keyframes rotate {
	from { transform: rotateY(0); }
	to   { transform: rotateY(360deg); }
}

.detect-repeated-words .repeated-word {
	background: #8cf !important;
	color: blue;
}
.spellcheck .misteak {
	background: #fc6 !important;
	color: red;
}
.detect-two-letters .two-letters,
.detect-islands .island {
	background: #f88 !important;
	color: white;
}

@media (prefers-color-scheme: dark) {
	body:not(.disable-dark-mode) { background: black; color: white; }
	body:not(.disable-dark-mode) .current { background: #880 !important; }
	body:not(.disable-dark-mode) td { color: black; }
	body:not(.disable-dark-mode) #sidebar { background: #444; color: white; }
	body:not(.disable-dark-mode) a { color: #88f; }
	body:not(.disable-dark-mode) a:visited { color: #f8f; }
}

body.fast-mode #grid-table td.mirror { box-shadow: none !important; }
body.fast-mode #grid-table td.cursor { box-shadow: none !important; }
