label { display: block; }
.hidden { display: none; }

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#main, #before {
	position: absolute;
	left: 1em;
	top: 1em;
	width: calc(100vw - 2em);
	height: calc(100vh - 2em);
}

#main {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
}

#before {
	font-family: sans-serif;
	z-index: 1000;
}
#before label span {
	width: 10em;
	display: inline-block;
}
#before label input[type=checkbox] {
	margin-right: 1em;
}

table {
	border-collapse: collapse;
	display: inline-block;
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}
#grid td {
	border: 1px solid black;
	width: 2rem;
	height: 2rem;
	font-family: sans-serif;
	font-size: 1.5rem;
	text-align: center;
	background-repeat: no-repeat;
}

#grid td.block {
	background: #444;
	background-image: none !important;
}

#grid td.mirror {
	box-shadow: 0 0 0 2px inset orange;
}

#grid td:focus {
	box-shadow: 0 0 0 2px inset blue;
	outline: none;
}

#grid td.checker {
	background: #fdd;
}
#grid td.checker.block {
	background: #800;
	background-image: none !important;
}
#grid td.top { border-top: 2px solid black; }
#grid td.bottom { border-bottom: 2px solid black; }
#grid td.left { border-left: 2px solid black; }
#grid td.right { border-right: 2px solid black; }

#clues {
	display: flex;
	vertical-align: top;
	font-family: sans-serif;
	flex-direction: column;
	grid-column: 2 / span 1;
	grid-row: 1 / span 2;
	height: calc(100vh - 2em);
	flex-wrap: wrap;
	margin: 0;
	padding: 0 0 0 4rem;
	align-content: stretch;
	align-items: stretch;
}

#clues li {
	width: 12em;
}
#clues input {
	font-family: Consolas, 'Droid Mono', Monaco, 'Roboto Mono', monospace;
	text-transform: uppercase;
	font-size: 1.5em;
	width: calc(100% - 4rem);
}
#clues input:invalid {
	border: 1px solid red;
}
#clues input:disabled {
	background: white;
	color: black;
}
#clues input:not(:invalid) {
	border: 1px solid transparent;
}
#clues input.current {
	font-weight: bold;
	background: #FFD;
}
#clues input.correct {
	text-decoration: line-through;
	opacity: 0.4;
}
#clues input.wrong {
	color: red;
	font-weight: bold;
}

#permalink { display: none; }
#permalink[href^="#"] { display: block; }

#chrome {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}
