label { display: block; }
.hidden { display: none; }

body {
	margin: 0;
	padding: 0;
}

#main, #before {
	position: absolute;
	left: 1em;
	top: 1em;
	height: calc(100vh - 2em - 16px);
}

#before:not(.hidden) + #main { display: none; }

#main {
	display: grid;
	grid-template-columns: auto auto 1fr;
	grid-template-rows: 1fr;
}

#sidebar {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	display: flex;
	flex-direction: column;
	margin-right: 1em;
	padding-right: 1em;
	font-family: sans-serif;
	overflow: auto;
	position: relative;
	width: 20em;
}
#sidebar h1 { margin: 0; }
.spacer { flex-grow: 1; }
#sidebar.collapsed { width: 2em; }
#sidebar.collapsed > :not(button) { display: none };

#toggle-sidebar {
	position: absolute;
	right: 1em;
	top: 1em;
	height: 2em;
	width: 2em;
}
#toggle-sidebar::before { content: '<< Collapse sidebar'; }
#sidebar.collapsed #toggle-sidebar::before { content: '>'; }

#title:empty { display: none; }

#before {
	font-family: sans-serif;
	z-index: 1000;
}
#before label span {
	width: 10em;
	display: inline-block;
}
#before label input[type=checkbox] {
	margin-right: 1em;
}

table {
	border-collapse: collapse;
	display: inline-block;
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
}
#grid td {
	border: 1px solid black;
	width: 2rem;
	height: 2rem;
	font-family: sans-serif;
	font-size: 1.5rem;
	text-align: center;
	background-repeat: no-repeat;
}

#grid td.block {
	background: #444;
	background-image: none !important;
}

body:not(.hide-mirror) #grid td.mirror {
	box-shadow: 0 0 0 2px inset orange;
}

#grid td:focus {
	box-shadow: 0 0 0 2px inset blue !important;
	outline: none;
}

#grid td.checker {
	background: #fdd;
}
#grid td.checker.block {
	background: #800;
	background-image: none !important;
}
#grid td.top { border-top: 2px solid black; }
#grid td.bottom { border-bottom: 2px solid black; }
#grid td.left { border-left: 2px solid black; }
#grid td.right { border-right: 2px solid black; }

#clues {
	display: flex;
	vertical-align: top;
	font-family: sans-serif;
	flex-direction: column;
	grid-column: 3 / span 1;
	grid-row: 1 / span 2;
	height: calc(100vh - 2em);
	flex-wrap: wrap;
	margin: 0;
	padding: 0 0 0 4rem;
	align-content: stretch;
	align-items: stretch;
}

#clues li {
	width: 12rem;
}
#clues .clue-text,
#clues {
	font-family: Consolas, 'Droid Mono', Monaco, 'Roboto Mono', monospace;
	text-transform: uppercase;
	font-size: 1.5rem;
	width: calc(100% - 4rem);
}
#clues input:invalid {
	border: 1px solid red;
}
#clues input:disabled {
	background: white;
	color: black;
}
#clues input:not(:invalid) {
	border: 1px solid transparent;
}
#clues .clue-text.current {
	font-weight: bold;
	background: #FFD;
}
#clues .clue-text.correct {
	text-decoration: line-through;
	opacity: 0.4;
}
#clues .clue-text.wrong {
	color: red;
	font-weight: bold;
}

#permalink { display: none; }
#permalink[href^="#"] { display: block; }

#chrome {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}
